@import "utilities/variables";
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;600&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

.contenedor {
    display: grid;
    grid-template-rows: 10% 55% 30% 5%;
    grid-template-areas: 
    "header header"
    "main main"
    "section section"
    "footer footer"
    ;
    height: 800px;
    background: url(../img/fondo.jpg);
    background-repeat: no-repeat;
    background-position: center;
    header {
        grid-area: header;
        color: $color_letras;
        nav {
            display: flex;
            justify-content: space-around;
            border-bottom: 1px solid $color_bordes;
            background-color: black;
            ul {
                list-style: none;
                a {
                    text-decoration: none;
                    color: rgb(255, 255, 255);
                    :hover {
                        border-top: 1px $color_bordes solid;
                        border-bottom: 1px $color_bordes solid;
                    }
                    li {
                        display: inline-block;
                        padding: 10px;
                    }
                }
            }
            h1 {
                margin-top: 5px;
            }
        }
    }
}

main {
    grid-area: main;
    display: flex;
    align-items: center;
    color: $color_letras;
    justify-content: center;
    gap: 2rem;
    .desc {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 20px;
        border-radius: 5px;
        backdrop-filter: blur(3px);
        border: 1px $color_bordes solid;
        transform: rotate(-25deg);
    }
    .desc1 {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 20px;
        border-radius: 5px;
        backdrop-filter: blur(3px);
        border: 1px $color_bordes solid;
        transform: rotate(25deg);
    }
}

section {
    grid-area: section;
    display: flex;
    justify-content: center;
    gap: 5rem;
    img {
        height: 200px;
    }
}

footer {
    grid-area: footer;
    color: $color_letras;
    text-align: center;
    border-top: 1px $color_bordes solid ;
}

@media screen and (max-width:1024px) {
    .desc h1 {
        font-size: 19px;
    }
    .desc1 h1 {
        font-size: 19px;
    }
    .desc p {
        font-size: 10px;
    }
    .desc1 p {
        font-size: 10px;
    }
}